First we have to import libraries such as the <em>pandas</em> and the Numpy libraries.

In [93]:
import pandas as pd
import numpy as np

Dataset provided in the assignment are:

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:
1. Cement
2. Blast Furnace Slag
3. Fly Ash
4. Water
5. Superplasticizer
6. Coarse Aggregate
7. Fine Aggregate

To read the dataset into a <em>pandas</em> dataframe:

In [94]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So, the data suggests that the first sample has 540 cubic metres of cement, 0 cubic metres of blast furnace slag, 0 cubic metre of fly ash, 162 cubic meter of water, 2.5 cubic metres of superplaticizer, 1040 cubic metres of coarse aggregate and, 676 cubic metres of fine aggregate. 
This concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

<h4>So to check the number of data points:</h4>

In [95]:
concrete_data.shape

(1030, 9)

So, there are total of 1030 samples to train our model on. So, we should be very careful not to overfit the training data.

We can use <i><u>concrete_data.describe()</u></i> to check the dataset for any missing values.

In [96]:
concrete_data.describe()
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

So we can colclude that this dataset is very clean and thus it can be used safely to build our model.

<h4>Split data into predictors and target</h4>

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [97]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # to get all columns except Strength
target = concrete_data['Strength'] # to get Strength column

To make a sanity check  forthe data again for sake of the predictors and the target dataframes.

In [98]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [99]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

So, it looks clean again.

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [100]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [101]:
number_cols = predictors_norm.shape[1] # number of predictors
number_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Importing Keras

#### Now we have to import the Keras library for the actual work

In [102]:
import keras

To use Keras, we first have to install the TensorFlow backend, which would be used to install the Keras library.

Now, to import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [103]:
from keras.models import Sequential
from keras.layers import Dense

In [104]:
def regression_model():
    # creating the model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(number_cols,)))
    model.add(Dense(1))
    
    # compiling the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The regression_model function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [105]:
from sklearn.model_selection import train_test_split

Now, let's split the data into a training and test sets by holding 30% of the data for testing

In [106]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### Training and Testing the Network

Call the function now to create our model.

In [107]:
# building the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [108]:
# fiting the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 1647.4240 - 411ms/epoch - 18ms/step
Epoch 2/50
23/23 - 0s - loss: 1631.1204 - 17ms/epoch - 735us/step
Epoch 3/50
23/23 - 0s - loss: 1614.9130 - 19ms/epoch - 839us/step
Epoch 4/50
23/23 - 0s - loss: 1598.8284 - 20ms/epoch - 863us/step
Epoch 5/50
23/23 - 0s - loss: 1582.4622 - 19ms/epoch - 808us/step
Epoch 6/50
23/23 - 0s - loss: 1565.9171 - 17ms/epoch - 718us/step
Epoch 7/50
23/23 - 0s - loss: 1549.0387 - 16ms/epoch - 686us/step
Epoch 8/50
23/23 - 0s - loss: 1531.5630 - 15ms/epoch - 648us/step
Epoch 9/50
23/23 - 0s - loss: 1513.8169 - 16ms/epoch - 687us/step
Epoch 10/50
23/23 - 0s - loss: 1495.4717 - 15ms/epoch - 647us/step
Epoch 11/50
23/23 - 0s - loss: 1476.5074 - 16ms/epoch - 691us/step
Epoch 12/50
23/23 - 0s - loss: 1457.0370 - 16ms/epoch - 689us/step
Epoch 13/50
23/23 - 0s - loss: 1436.8528 - 15ms/epoch - 647us/step
Epoch 14/50
23/23 - 0s - loss: 1416.6610 - 16ms/epoch - 693us/step
Epoch 15/50
23/23 - 0s - loss: 1395.3995 - 16ms/epoch - 685us/step
Epoch 16/50
23/23 - 0s - loss: 1373.8954 - 16ms/epoch - 700us/step
Epoch 17/50
23/23 - 0s - loss: 1351.9299 - 15ms/epoch - 636us/step
Epoch 18/50
23/23 - 0s - loss: 1329.5073 - 15ms/epoch - 647us/step
Epoch 19/50
23/23 - 0s - loss: 1306.0671 - 15ms/epoch - 670us/step
Epoch 20/50
23/23 - 0s - loss: 1282.4424 - 16ms/epoch - 708us/step
Epoch 21/50
23/23 - 0s - loss: 1258.0696 - 16ms/epoch - 706us/step
Epoch 22/50
23/23 - 0s - loss: 1233.2356 - 16ms/epoch - 695us/step
Epoch 23/50
23/23 - 0s - loss: 1207.0173 - 16ms/epoch - 684us/step
Epoch 24/50
23/23 - 0s - loss: 1179.8633 - 15ms/epoch - 673us/step
Epoch 25/50
23/23 - 0s - loss: 1151.9479 - 16ms/epoch - 713us/step
Epoch 26/50
23/23 - 0s - loss: 1123.2211 - 15ms/epoch - 642us/step
Epoch 27/50
23/23 - 0s - loss: 1093.3066 - 18ms/epoch - 771us/step
Epoch 28/50
23/23 - 0s - loss: 1062.3452 - 16ms/epoch - 698us/step
Epoch 29/50
23/23 - 0s - loss: 1030.2544 - 15ms/epoch - 651us/step
Epoch 30/50
23/23 - 0s - loss: 997.4152 - 16ms/epoch - 687us/step
Epoch 31/50
23/23 - 0s - loss: 964.6251 - 16ms/epoch - 691us/step
Epoch 32/50
23/23 - 0s - loss: 931.1991 - 16ms/epoch - 684us/step
Epoch 33/50
23/23 - 0s - loss: 898.1599 - 16ms/epoch - 693us/step
Epoch 34/50
23/23 - 0s - loss: 864.4850 - 20ms/epoch - 879us/step
Epoch 35/50
23/23 - 0s - loss: 832.3995 - 18ms/epoch - 782us/step
Epoch 36/50
23/23 - 0s - loss: 799.8759 - 17ms/epoch - 761us/step
Epoch 37/50
23/23 - 0s - loss: 768.5060 - 19ms/epoch - 840us/step
Epoch 38/50
23/23 - 0s - loss: 738.1541 - 15ms/epoch - 662us/step
Epoch 39/50
23/23 - 0s - loss: 707.9973 - 16ms/epoch - 687us/step
Epoch 40/50
23/23 - 0s - loss: 678.9164 - 15ms/epoch - 647us/step
Epoch 41/50
23/23 - 0s - loss: 651.0609 - 16ms/epoch - 714us/step
Epoch 42/50
23/23 - 0s - loss: 624.1483 - 15ms/epoch - 665us/step
Epoch 43/50
23/23 - 0s - loss: 598.4743 - 16ms/epoch - 691us/step
Epoch 44/50
23/23 - 0s - loss: 573.7481 - 16ms/epoch - 681us/step
Epoch 45/50
23/23 - 0s - loss: 550.5593 - 16ms/epoch - 697us/step
Epoch 46/50
23/23 - 0s - loss: 527.6710 - 16ms/epoch - 687us/step
Epoch 47/50
23/23 - 0s - loss: 506.2807 - 15ms/epoch - 646us/step
Epoch 48/50
23/23 - 0s - loss: 486.0397 - 16ms/epoch - 689us/step
Epoch 49/50
23/23 - 0s - loss: 466.9267 - 15ms/epoch - 644us/step
Epoch 50/50
23/23 - 0s - loss: 448.6607 - 16ms/epoch - 690us/step

Next we need to evaluate the model on the test data.

In [109]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 891us/step - loss: 434.2885
10/10 [==============================] - 0s 695us/step

434.2885437011719

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [110]:
from sklearn.metrics import mean_squared_error

In [111]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

434.28850920961764 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [112]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(
        predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " + str(total_mean_squared_errors) +
      " mean squared errors with normalized data. Total number of epochs for each training is: " + str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 163.21607971191406
10/10 [==============================] - 0s 979us/step
MSE 2: 143.275390625
10/10 [==============================] - 0s 785us/step
MSE 3: 90.59881591796875
10/10 [==============================] - 0s 792us/step
MSE 4: 74.83082580566406
10/10 [==============================] - 0s 895us/step
MSE 5: 62.70222091674805
10/10 [==============================] - 0s 0s/step
MSE 6: 59.63166046142578
10/10 [==============================] - 0s 2ms/step
MSE 7: 56.3249397277832
10/10 [==============================] - 0s 473us/step
MSE 8: 41.39540100097656
10/10 [==============================] - 0s 903us/step
MSE 9: 43.55702209472656
10/10 [==============================] - 0s 776us/step
MSE 10: 42.71082305908203
10/10 [==============================] - 0s 2ms/step
MSE 11: 39.11769485473633
10/10 [==============================] - 0s 885us/step
MSE 12: 38.86497497558594
10/10 [==============================] - 0s 2ms/step
MSE 13: 43.7105827331543
10/10 [==============================] - 0s 776us/step
MSE 14: 46.21562576293945
10/10 [==============================] - 0s 3ms/step
MSE 15: 38.91065216064453
10/10 [==============================] - 0s 776us/step
MSE 16: 37.195045471191406
10/10 [==============================] - 0s 777us/step
MSE 17: 39.18388748168945
10/10 [==============================] - 0s 997us/step
MSE 18: 37.542442321777344
10/10 [==============================] - 0s 997us/step
MSE 19: 38.45000076293945
10/10 [==============================] - 0s 998us/step
MSE 20: 39.473262786865234
10/10 [==============================] - 0s 2ms/step
MSE 21: 34.61402893066406
10/10 [==============================] - 0s 2ms/step
MSE 22: 35.5551643371582
10/10 [==============================] - 0s 776us/step
MSE 23: 31.799823760986328
10/10 [==============================] - 0s 722us/step
MSE 24: 34.8597412109375
10/10 [==============================] - 0s 776us/step
MSE 25: 35.76171112060547
10/10 [==============================] - 0s 776us/step
MSE 26: 36.98134231567383
10/10 [==============================] - 0s 721us/step
MSE 27: 32.838134765625
10/10 [==============================] - 0s 776us/step
MSE 28: 34.44533920288086
10/10 [==============================] - 0s 1ms/step
MSE 29: 37.711090087890625
10/10 [==============================] - 0s 776us/step
MSE 30: 35.57033920288086
10/10 [==============================] - 0s 665us/step
MSE 31: 33.6108283996582
10/10 [==============================] - 0s 886us/step
MSE 32: 32.35979461669922
10/10 [==============================] - 0s 776us/step
MSE 33: 32.55426788330078
10/10 [==============================] - 0s 776us/step
MSE 34: 34.62776184082031
10/10 [==============================] - 0s 776us/step
MSE 35: 36.553768157958984
10/10 [==============================] - 0s 776us/step
MSE 36: 39.23624801635742
10/10 [==============================] - 0s 776us/step
MSE 37: 30.38584327697754
10/10 [==============================] - 0s 665us/step
MSE 38: 38.09668731689453
10/10 [==============================] - 0s 776us/step
MSE 39: 34.41170120239258
10/10 [==============================] - 0s 2ms/step
MSE 40: 30.829452514648438
10/10 [==============================] - 0s 665us/step
MSE 41: 36.47151184082031
10/10 [==============================] - 0s 665us/step
MSE 42: 28.653522491455078
10/10 [==============================] - 0s 721us/step
MSE 43: 35.663970947265625
10/10 [==============================] - 0s 722us/step
MSE 44: 39.609317779541016
10/10 [==============================] - 0s 2ms/step
MSE 45: 38.770992279052734
10/10 [==============================] - 0s 776us/step
MSE 46: 36.99104309082031
10/10 [==============================] - 0s 1ms/step
MSE 47: 32.7310905456543
10/10 [==============================] - 0s 2ms/step
MSE 48: 38.13825988769531
10/10 [==============================] - 0s 776us/step
MSE 49: 35.09604263305664
10/10 [==============================] - 0s 664us/step
MSE 50: 34.6651725769043
10/10 [==============================] - 0s 886us/step


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 44.530026985199676
Standard Deviation: 24.82776967014751