First we have to import libraries such as the <em>pandas</em> and the Numpy libraries.

In [52]:
import pandas as pd
import numpy as np

Dataset provided in the assignment are:

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:
1. Cement
2. Blast Furnace Slag
3. Fly Ash
4. Water
5. Superplasticizer
6. Coarse Aggregate
7. Fine Aggregate

To read the dataset into a <em>pandas</em> dataframe:

In [53]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So, the data suggests that the first sample has 540 cubic metres of cement, 0 cubic metres of blast furnace slag, 0 cubic metre of fly ash, 162 cubic meter of water, 2.5 cubic metres of superplaticizer, 1040 cubic metres of coarse aggregate and, 676 cubic metres of fine aggregate. 
This concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

<h4>So to check the number of data points:</h4>

In [54]:
concrete_data.shape

(1030, 9)

So, there are total of 1030 samples to train our model on. So, we should be very careful not to overfit the training data.

We can use <i><u>concrete_data.describe()</u></i> to check the dataset for any missing values.

In [55]:
concrete_data.describe()
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

So we can colclude that this dataset is very clean and thus it can be used safely to build our model.

<h4>Split data into predictors and target</h4>

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [56]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # to get all columns except Strength
target = concrete_data['Strength'] # to get Strength column

To make a sanity check  forthe data again for sake of the predictors and the target dataframes.

In [57]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [58]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

So, it looks clean again.

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [59]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [60]:
number_cols = predictors_norm.shape[1] # number of predictors
number_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Importing Keras

#### Now we have to import the Keras library for the actual work

In [61]:
import keras

To use Keras, we first have to install the TensorFlow backend, which would be used to install the Keras library.

Now, to import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [62]:
from keras.models import Sequential
from keras.layers import Dense

In [63]:
def regression_model():
    # creating the model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(number_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compiling the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The regression_model function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [64]:
from sklearn.model_selection import train_test_split

Now, let's split the data into a training and test sets by holding 30% of the data for testing

In [65]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### Training and Testing the Network

Call the function now to create our model.

In [66]:
# building the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [67]:
# fiting the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 1574.5758 - 536ms/epoch - 23ms/step
Epoch 2/50
23/23 - 0s - loss: 1551.4114 - 17ms/epoch - 757us/step
Epoch 3/50
23/23 - 0s - loss: 1517.2220 - 22ms/epoch - 954us/step
Epoch 4/50
23/23 - 0s - loss: 1461.9415 - 39ms/epoch - 2ms/step
Epoch 5/50
23/23 - 0s - loss: 1372.0656 - 42ms/epoch - 2ms/step
Epoch 6/50
23/23 - 0s - loss: 1244.1869 - 31ms/epoch - 1ms/step
Epoch 7/50
23/23 - 0s - loss: 1074.1611 - 33ms/epoch - 1ms/step
Epoch 8/50
23/23 - 0s - loss: 868.6089 - 46ms/epoch - 2ms/step
Epoch 9/50
23/23 - 0s - loss: 658.9146 - 47ms/epoch - 2ms/step
Epoch 10/50
23/23 - 0s - loss: 484.2932 - 50ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 370.9552 - 44ms/epoch - 2ms/step
Epoch 12/50
23/23 - 0s - loss: 313.1552 - 25ms/epoch - 1ms/step
Epoch 13/50
23/23 - 0s - loss: 280.9439 - 40ms/epoch - 2ms/step
Epoch 14/50
23/23 - 0s - loss: 258.7293 - 48ms/epoch - 2ms/step
Epoch 15/50
23/23 - 0s - loss: 240.7612 - 23ms/epoch - 983us/step
Epoch 16/50
23/23 - 0s - loss: 226.6643 - 35ms/epoch - 2ms/step
Epoch 17/50
23/23 - 0s - loss: 214.9375 - 48ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 205.4414 - 31ms/epoch - 1ms/step
Epoch 19/50
23/23 - 0s - loss: 197.3817 - 41ms/epoch - 2ms/step
Epoch 20/50
23/23 - 0s - loss: 190.3501 - 21ms/epoch - 911us/step
Epoch 21/50
23/23 - 0s - loss: 184.9536 - 41ms/epoch - 2ms/step
Epoch 22/50
23/23 - 0s - loss: 179.2050 - 29ms/epoch - 1ms/step
Epoch 23/50
23/23 - 0s - loss: 174.9068 - 36ms/epoch - 2ms/step
Epoch 24/50
23/23 - 0s - loss: 170.6642 - 46ms/epoch - 2ms/step
Epoch 25/50
23/23 - 0s - loss: 166.4547 - 41ms/epoch - 2ms/step
Epoch 26/50
23/23 - 0s - loss: 163.0457 - 29ms/epoch - 1ms/step
Epoch 27/50
23/23 - 0s - loss: 159.0655 - 28ms/epoch - 1ms/step
Epoch 28/50
23/23 - 0s - loss: 155.9626 - 40ms/epoch - 2ms/step
Epoch 29/50
23/23 - 0s - loss: 152.9286 - 24ms/epoch - 1ms/step
Epoch 30/50
23/23 - 0s - loss: 150.2881 - 34ms/epoch - 1ms/step
Epoch 31/50
23/23 - 0s - loss: 147.6177 - 38ms/epoch - 2ms/step
Epoch 32/50
23/23 - 0s - loss: 145.2196 - 35ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 142.6499 - 41ms/epoch - 2ms/step
Epoch 34/50
23/23 - 0s - loss: 140.6962 - 35ms/epoch - 2ms/step
Epoch 35/50
23/23 - 0s - loss: 138.8755 - 30ms/epoch - 1ms/step
Epoch 36/50
23/23 - 0s - loss: 137.4764 - 32ms/epoch - 1ms/step
Epoch 37/50
23/23 - 0s - loss: 135.4762 - 38ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 133.7769 - 25ms/epoch - 1ms/step
Epoch 39/50
23/23 - 0s - loss: 132.2162 - 35ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 131.2143 - 40ms/epoch - 2ms/step
Epoch 41/50
23/23 - 0s - loss: 129.5226 - 38ms/epoch - 2ms/step
Epoch 42/50
23/23 - 0s - loss: 128.4530 - 46ms/epoch - 2ms/step
Epoch 43/50
23/23 - 0s - loss: 127.0349 - 39ms/epoch - 2ms/step
Epoch 44/50
23/23 - 0s - loss: 125.9010 - 49ms/epoch - 2ms/step
Epoch 45/50
23/23 - 0s - loss: 124.5592 - 28ms/epoch - 1ms/step
Epoch 46/50
23/23 - 0s - loss: 123.3460 - 39ms/epoch - 2ms/step
Epoch 47/50
23/23 - 0s - loss: 122.4033 - 29ms/epoch - 1ms/step
Epoch 48/50
23/23 - 0s - loss: 121.1501 - 30ms/epoch - 1ms/step
Epoch 49/50
23/23 - 0s - loss: 120.6640 - 33ms/epoch - 1ms/step
Epoch 50/50
23/23 - 0s - loss: 119.4630 - 33ms/epoch - 1ms/step

Next we need to evaluate the model on the test data.

In [68]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 123.8977
10/10 [==============================] - 0s 811us/step

123.8977279663086

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [69]:
from sklearn.metrics import mean_squared_error

In [70]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

123.8977268779433 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [71]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(
        predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " + str(total_mean_squared_errors) +
      " mean squared errors with normalized data. Total number of epochs for each training is: " + str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 87.3054428100586
10/10 [==============================] - 0s 816us/step
MSE 2: 79.47969818115234
10/10 [==============================] - 0s 760us/step
MSE 3: 54.632408142089844
10/10 [==============================] - 0s 1ms/step
MSE 4: 54.939048767089844
10/10 [==============================] - 0s 888us/step
MSE 5: 44.85226821899414
10/10 [==============================] - 0s 1ms/step
MSE 6: 44.49041748046875
10/10 [==============================] - 0s 665us/step
MSE 7: 42.34849548339844
10/10 [==============================] - 0s 669us/step
MSE 8: 35.10154342651367
10/10 [==============================] - 0s 1ms/step
MSE 9: 32.16181182861328
10/10 [==============================] - 0s 753us/step
MSE 10: 34.606529235839844
10/10 [==============================] - 0s 1ms/step
MSE 11: 31.933935165405273
10/10 [==============================] - 0s 664us/step
MSE 12: 28.395681381225586
10/10 [==============================] - 0s 1ms/step
MSE 13: 35.23423385620117
10/10 [==============================] - 0s 833us/step
MSE 14: 35.290035247802734
10/10 [==============================] - 0s 719us/step
MSE 15: 26.351776123046875
10/10 [==============================] - 0s 665us/step
MSE 16: 24.09270668029785
10/10 [==============================] - 0s 730us/step
MSE 17: 31.693115234375
10/10 [==============================] - 0s 732us/step
MSE 18: 29.75920295715332
10/10 [==============================] - 0s 968us/step
MSE 19: 27.083162307739258
10/10 [==============================] - 0s 669us/step
MSE 20: 30.80695343017578
10/10 [==============================] - 0s 697us/step
MSE 21: 26.88468360900879
10/10 [==============================] - 0s 784us/step
MSE 22: 27.17511749267578
10/10 [==============================] - 0s 1ms/step
MSE 23: 23.48274803161621
10/10 [==============================] - 0s 836us/step
MSE 24: 25.020465850830078
10/10 [==============================] - 0s 708us/step
MSE 25: 29.959095001220703
10/10 [==============================] - 0s 784us/step
MSE 26: 29.668272018432617
10/10 [==============================] - 0s 804us/step
MSE 27: 26.07066535949707
10/10 [==============================] - 0s 801us/step
MSE 28: 26.381155014038086
10/10 [==============================] - 0s 777us/step
MSE 29: 29.87825584411621
10/10 [==============================] - 0s 997us/step
MSE 30: 26.65109634399414
10/10 [==============================] - 0s 760us/step
MSE 31: 24.78116226196289
10/10 [==============================] - 0s 665us/step
MSE 32: 23.400468826293945
10/10 [==============================] - 0s 805us/step
MSE 33: 22.17861557006836
10/10 [==============================] - 0s 776us/step
MSE 34: 28.196529388427734
10/10 [==============================] - 0s 886us/step
MSE 35: 27.936731338500977
10/10 [==============================] - 0s 739us/step
MSE 36: 29.973876953125
10/10 [==============================] - 0s 846us/step
MSE 37: 23.190397262573242
10/10 [==============================] - 0s 776us/step
MSE 38: 28.20488166809082
10/10 [==============================] - 0s 749us/step
MSE 39: 25.11453628540039
10/10 [==============================] - 0s 776us/step
MSE 40: 21.126056671142578
10/10 [==============================] - 0s 874us/step
MSE 41: 27.349788665771484
10/10 [==============================] - 0s 788us/step
MSE 42: 20.928268432617188
10/10 [==============================] - 0s 776us/step
MSE 43: 21.882083892822266
10/10 [==============================] - 0s 776us/step
MSE 44: 30.824121475219727
10/10 [==============================] - 0s 669us/step
MSE 45: 30.285213470458984
10/10 [==============================] - 0s 839us/step
MSE 46: 29.198780059814453
10/10 [==============================] - 0s 665us/step
MSE 47: 27.18114471435547
10/10 [==============================] - 0s 780us/step
MSE 48: 26.937114715576172
10/10 [==============================] - 0s 697us/step
MSE 49: 25.80645751953125
10/10 [==============================] - 0s 668us/step
MSE 50: 27.87226676940918
10/10 [==============================] - 0s 678us/step


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 32.08196957405893
Standard Deviation: 12.738654956267883